h1{
    color:rgb(255, 0, 0);
    text-align:center;
}

h2{
    color:rgb(139, 1, 118);
    text-align:center;
}
h3{
    color:blue

}
h4{
    color:orangered
}
form{
    color:rgb(96, 5, 96);
    
    
}

body{
    background-color:rgb(240, 240, 240)
}

